.bundle
db/*.sqlite3
client/dist/
client/dist/*
db/*.sqlite3-journal
log/*.log
log/
tmp/
tmp/*
config/database.yml
database.yml
doc/
webrat.log
*.swp
*.swo
*~
.project
.DS_Store
.idea
.rvmrc
.secret
erd.pdf
tags
.c9
~zshrc
coverage/
